.todo {
	&__items {
		max-width: 800px;
	}

	&__item {
		padding: 10px 0;

		&--done {
			text-decoration: line-through;
		}
	}

	&__header {
		display: flex;
		flex-direction: row;
		padding: 10px 0;

		input {
			width: 400px;
			margin-right: 10px;
		}
	}
}
